html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: black;
  color: white !important;
}

.navbar {
  background-color: rgb(18, 18, 18);
}


.netflixlogo {
  width: clamp(150px, 10vw, 180px);
  padding-right: 6%;
}

.notfoundpage {
  font-size: 40px;
  text-align: center;
  justify-content: center;
}

.moviepagefont {
  color: white;
}

.homepagefont {
  color: white;
}

@media (max-width: 430px) {
  .search-form {
    flex-direction: column;
    /* 세로 정렬 */
    align-items: stretch;
    /* 양쪽 100% 맞춤 */
  }

  .search-form .form-control {
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .search-form button {
    width: 100%;
  }
}