html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: black;
  color: white !important;
}

.navbar {
  background-color: rgb(18, 18, 18);
}


.netflixlogo {
  width: clamp(150px, 10vw, 180px);
  padding-right: 6%;
}

.notfoundpage {
  font-size: 40px;
  text-align: center;
  justify-content: center;
}

.moviepagefont {
  color: white;
}

.homepagefont {
  color: white;
}

.custom-toggle .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}